# Sensitive files
inventory.ini
*.pem
*.key
*.secret

# Python virtual environment
myansible/
__pycache__/
*.pyc

# Logs and reports
*.log
*.dat
lynis-*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Backup files
*.bak
*.swp
